
@{
    ViewBag.Title = "Homepage";
}

<h2>Homepage</h2>
<input type="button" value="LogIn" onclick="location.href='@Url.Action("LoginPage", "Home")'"/>
<input type="button" value="Register" onclick="location.href='@Url.Action("RegisterPage", "Home")'">
 