@{
    ViewBag.Title = "Home Page";
}

<div class="card-header">
    Wellcome
</div>
<div class="card-body">
    @if (Session["idUser"] != null)
    {
        <p>Name: @Session["idUser"].ToString()</p>
        <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
    }
</div>